<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<a th:href="@{/assignees/add}">Add</a>
<table>
    <thead>
    <th>ID</th>
    <th>NAME</th>
    <th>MAIL</th>
    </thead>
    <tbody>
    <tr th:each="assignee : ${assignees}" th:object="${assignee}">
        <td th:text="*{id}"></td>
        <td th:text="*{name}"></td>
        <td th:text="*{mail}"></td>
        <td><a th:href="|assignees/*{id}/delete|">DELETE</a></td>
        <td><a th:href="|assignees/*{id}/edit|">EDIT</a></td>
    </tbody>

</table>
</body>
</html>