<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit</title>
</head>
<body>
<form th:method="POST" th:action="@{edit}" th:object="${taskToEdit}">
    <input type="text" th:value="*{title}" name="title">
    <p>Urgent:</p>
    <input type="checkbox" name="urgent" th:field="*{urgent}">
    <p>Done:</p>
    <input type="checkbox" name="done" th:field="*{done}">
    <br>
    <input type="text" th:value="*{description}" name="description">
    <input type="submit" value="Edit">
</form>
</body>
</html>