<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal Page</title>
    <meta name="description" content="Webshop.">
    <link rel="stylesheet" href="/styles.css"/>
</head>

<body>

<h1>My shop</h1>

<table class="Buttons">


    <tr>
        <td>
            <button value="ONLY AVAILABLE" onclick="location.href='/available'"></button>
        </td>
        <td>
            <input type="submit" value="CHEAPEST FIRST">
        </td>
        <td>
            <input type="submit" value="CONTAINS NIKE">
        </td>
        <td>
            <input type="submit" value="AVERAGE STOCK">
        </td>
        <td>
            <input type="submit" value="MOST EXPENSIVE AVAILABLE">
        </td>
    </tr>
</table>

<h2>Search for...</h2>

<input type="text" placeholder="...something like Nike">
<input type="button" value="SEARCH">


<table class="items">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${shopItems}">
        <td th:text="${item.getName()}"></td>
        <td th:text="${item.getDescription()}"></td>
        <td th:text="${item.getPrice()}"></td>
        <td th:text="${item.getQuantity()}"></td>
    </tr>
    </tbody>
</table>
</body>