<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Personal Page</title>
    <meta name="description" content="Webshop.">
    <link rel="stylesheet" href="main.css">
</head>

<body>

<h1>My shop</h1>

<table class="Buttons">

    <tr>
        <td>
            <input type="submit" value="ONLY AVAILABLE">
        </td>
        <td>
            <input type="submit" value="CHEAPEST FIRST">
        </td>
        <td>
            <input type="submit" value="CONTAINS NIKE">
        </td>
        <td>
            <input type="submit" value="AVERAGE STOCK">
        </td>
        <td>
            <input type="submit" value="MOST EXPENSIVE AVAILABLE">
        </td>
    </tr>
</table>

<h2>Search for...</h2>

<input type="text" placeholder="...something like Nike">
<input type="button" value="SEARCH">

<table class="items">
    <thead>
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Quantity of stock</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>B23 shoes</td>
        <td>Cool kicks for amazing people</td>
        <td>230$</td>
        <td>27</td>
    </tr>
    <tr>
        <td>HQ X3 Coffee</td>
        <td>High quality coffee for rich people</td>
        <td>130$</td>
        <td>4</td>
    </tr>
    </tbody>
</table>
</body>