<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div th:each="element : ${account}" th:object="${element}">


    <div th:style="*{isAKing} ? 'background-color:yellowgreen' : 'background-color:white'">
        <td th:text="|Name: *{name}|"></td>
        <td th:text="|Balance: *{balance}|"></td>
        <td th:text="|Type: *{animalType}|"></td>
        <td th:text="|King: *{isAKing}|"></td>
    </div>
    <div>
        <!--        <input type="radio" name="" value=""> Increase -->


    </div>
    </tr>

</div>
</body>
</html>